@import "mixins/mixins.scss";
@import "structure/menu.scss";

$footer-bg-color:#6b6b6b;
$footer-p-color: white;
$red:rgb(221, 105, 90);
$red-hover:rgb(231, 128, 128);
$green:rgb(143, 206, 61);
$green-hover:rgb(172, 231, 94);

$input-focusborder-color: rgb(181, 224, 131);

* {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(252, 252, 252);
    font-size: 1rem;
}

main {
    min-height: 92vh;
    section{
        margin:1.5% 0%;
        width: 100%;
    }
    h1 {
        font-size: 2rem;
        margin: 1% 0% 2% 0%;
        text-transform: uppercase;
    }
    h2{
        background-color: rgba(236, 236, 236, 0.747);
        padding: 0.5rem 0.2rem;
        border-radius: .5rem;
        font-weight: 300;
        color: #848484;
        text-align: center;
    }
    p{
        padding: 1%;
        text-align: justify;
    }
    div {
        &#content {
            padding-top: 50px;
            @include responsive(medium-screens){
                padding-top: $menu_height-small;
            }
            @include responsive(wide-screens){
                padding-top: $menu_height-large;
            }
        }
    }
}

footer{
    width: 100%;
    bottom:0;

    height: 50px;
    @include responsive(wide-screens){
        height: $menu_height-large;
    }
    padding: 2%;
    background-color: $footer-bg-color;
    @include box-shadow(0px 1px 5px #2c2c2c);
    @include flex();
    align-items: center;
    p{
        width: 100%;
        color: $footer-p-color;
        text-align-last: center;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}
a {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    background-color: none;
}

ul,
li {
    list-style: none;
    list-style-type: none;
}
p{
    font-size: 0.9rem;
    &.info{
        padding: .5rem;
        background-color: rgb(195, 228, 255);
        background-color: rgba(198, 229, 255, 0.322);
        border: 1px solid rgb(185, 223, 255);
        border-radius: 5px;
        margin: .5rem .2rem;
        cursor: default;
    }
}
.banner{
    @include flex();
    justify-content: center;
    align-items: center;

    background-image: url('../img/bg-forest.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 35vh;
    max-height:50vh;

    margin-bottom:.5rem;
    h1{
        background-color: #83a265;
        background-color: rgba(131, 162, 101, 0.651);
        @include box-shadow(0px 0px 5px rgb(71, 71, 71));
        padding: .2rem 1rem;
        text-align: center;
        color: rgb(241, 241, 241);
        font-weight: 500;
        height: 20%;
    }
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.full-container {
    @include flex();
    flex-direction: column;
    flex-wrap: wrap;
    @include responsive(wide-screens){
        align-items: center;
    }
    width: 100%;
}
.container{
    min-width: 60%;
    margin: 0 5%;
    @include responsive(wide-screens){
        margin: 0 15%;
    }
}
.center {
    @include flex();
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: 700;
}

/**
FORM --
**/

form{
    padding: 0.5%;
    &.form-container{
        @include flex();
        flex-direction: column;        
        @include responsive(wide-screens){
            flex-direction: row;
        }
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-grow: 1;
        div{
            padding: 1.5%;
            // overflow: hidden;
            &.small-input{
                width: 100%;
                @include responsive(wide-screens){
                    width: 50%;
                }
            }
            &.full-input{
                width: 100%;
            }
            label{
                display: none;
                @include responsive(wide-screens){
                    display: block;
                    padding: .5rem 0;
                }
            }
            input{
                width: 100%;
                border: 1px solid rgb(129, 129, 129);
                border: 1px solid rgba(129, 129, 129, 0.432);
                height: 2rem;
                border-radius: 3px;
                outline-color: none;
                padding: 0.3em;
                transition: border 0.3s;
                &:focus{
                    outline-color: transparent;
                    border: 1px solid $input-focusborder-color;
                    border-radius: 4px;
                    &::placeholder{
                        color: transparent;
                    }
                }
                &::placeholder{
                    font-size: 1rem;
                    color:rgb(187, 187, 187);
                    transition: color 0.5s;
                    @include responsive(wide-screens){
                        color: transparent;
                        transition: none;
                    }
                }
            }
        }
        .form-buttons{
            @include flex();
            flex-direction: column;            
            justify-content: flex-start;
            @include responsive(wide-screens){
                flex-direction: row;
            }
            .btn{
                line-height: 1.25;
                white-space: nowrap;
                text-align: center;
                vertical-align: middle;
                border-radius: .25rem;
                padding: .5rem 1rem;
                font-size: 1rem;
                margin-top: 1rem;          
                @include responsive(wide-screens){
                    margin: 0 1rem 1rem 0;
                }
                transition: background-color 0.3s;
                border:none;
                &.btn-submit{
                    background-color: $green;
                    color: white;
                    &:hover{
                        background-color: $green-hover;
                    }
                }
                &.btn-reset{
                    background-color: $red;
                    color: white;                    
                    &:hover{
                        background-color: $red-hover;
                    }
                }
            }
        }
    }
}
.full{
    width: 100%;
}